*{
    box-sizing: border-box;
    margin: 0;
}
.colorForDegree{
    width: 100%;
    border: solid;
    height: 745px;
    transition: 1s;
}
body{
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
} 
.inp{
    font: inherit;
    padding: 0.2em 0.5em;
    border: none;
    margin: 10px;
}
.inp:focus{
    transition: 1s;
    padding: 0.4em 0.7em;
}
.card{
    display: none;
    padding: 30px;
    width: 400px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba((27,108,114,0.25));
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardCity{
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: black;
}
.cardCitySp{
    display: inline-block;
    padding: 3px 5px;
    background: red;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;

}
.cardWeather{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardvalue{
    font-size: 92px;
    line-height: 1;
    font-weight: 700;
    display: flex;
}
.cardnum{
    font-size: 92px;
    line-height: 1;
    font-weight: 700;
}
sup{
    font-size: 50%;
}
.cardImage{
    width: 108px;
}
.cardDescription{
    font-weight: 100;
}

